html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a {
    color: #7db8e8;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1d1f20;
    color: #cfcfcf;
}

table-text {
    color: #cfcfcf;
}

td {
    color: #cfcfcf;
}

.table-striped > tbody > tr:nth-child(even) > td {
    background-color: #1d1f20;
    --bs-table-accent-bg: #1d1f20;
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #252729;
    --bs-table-accent-bg: #252729;
}

pre {
    white-space: normal;
}

.mapUid {
    font-size: 16px;
}

.page-link-dark {
    background-color: #0d6efd;
    color: white;
    border: solid 1px #1d1f20;
}

.page-link-dots {
    background-color: #1d1f20;
    color: white;
    border: solid 1px #1d1f20;
}

.page-link-dots:hover {
    background-color: #1d1f20;
    color: white;
    border: solid 1px #1d1f20;
}

.page-link-disabled {
    background-color: #555555;
    color: white;
    border: solid 1px #1d1f20;
    transition: none;
}

.page-link-disabled:hover {
    background-color: #555555;
    color: white;
    border: solid 1px #1d1f20;
    transition: none;
}

.page-item.active .page-link {
    border: solid 1px #1d1f20;
    background-color: white;
    color: #0a58ca;
}

.pagination-code {
    display: block;
    width: 24px;
    text-align: center;
}

.first-seed-difference-td {
    width: 100px;
}

.first-seed-difference{
    color: #d56262;
}
